build-OpenSymphony-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/
build-OpenSymphony-Clone_of_Desktop_Qt_5_14_1_MSVC2017_64bit-Debug/
OpenSymphony/OpenSymphony.pro.user
OpenSymphony.pro.user
OpenSymphony.pro.user.069b333.4.8-pre1
